
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
src/*/*.obj
src/*/*.exe
src/*/*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
src/*/[Bb]in
src/*/[Dd]ebug*/
*.lib
*.sbr
src/*/obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vs10x
output/*
package/*
ILoveLucene.sln.docstates
ILoveLucene.1.1.dotCover
packages/*
ILoveLucene.sln.ide/*
/.vs/*
