<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog autoReload="true">
    <extensions>
      <add assembly="ILoveLucene" />
    </extensions>
    <targets>
      <target name="debug" type="OutputDebugString" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
      <target name="file" type="File" fileName="${basedir}/Data/rrLog.log" layout="${date}: ${message} ${onexception:${newline}${exception:format=tostring}${newline}--Inner Exceptions: ${exception:maxInnerExceptionLevel=10} }" />
      <target name="async_memory" type="AsyncWrapper">
        <target name="buffered_memory" type="BufferingWrapper" slidingTimeout="true" flushTimeout="1000">
          <target name="memory" type="BindableCollectionMemory" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="debug" writeTo="debug,async_memory" />
      <logger name="*" minlevel="info" writeTo="file" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Bin;Plugins" />
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IronPython" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.7.0" newVersion="2.7.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
