<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="auto_update_feed_url" value="http://dl.dropbox.com/u/118385/ilovelucene/appcast.xml" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Bin;Plugins"/>
        </assemblyBinding>
    </runtime>
</configuration>
