<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog autoReload="true">
      <extensions>
        <add assembly="ILoveLucene"/>
      </extensions>
      <targets>
        <target name="debug" type="OutputDebugString" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
        <target name="file" type="File" fileName="${basedir}/Data/rrLog.log" layout="${date}: ${message} ${onexception:\n${exception:format=tostring}}" />
        <target name="async_memory" type="AsyncWrapper">
          <target name="buffered_memory" type="BufferingWrapper" slidingTimeout="true" flushTimeout="1000" >
            <target name="memory" type="BindableCollectionMemory" />
          </target>
        </target>
      </targets>
      <rules>
        <logger name="*" minlevel="debug" writeTo="debug,async_memory" />
        <logger name="*" minlevel="info" writeTo="file" />
      </rules>
    </nlog>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Bin;Plugins"/>
        </assemblyBinding>
    </runtime>
</configuration>
