<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.2.859" />
  <package id="Common.Logging" version="2.0.0" />
  <package id="Lucene.Net" version="2.9.4.1" />
  <package id="Quartz" version="2.0.1" />
  <package id="SharpZipLib" version="0.86.0" />
</packages>